@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: red;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app {
  background-color: #f1f2f5;
  text-align: center;
}

.app__body {
  display: flex;
}

body {
  background-image: linear-gradient(120deg, #697b85 0%, #85f9fd 100%);
  color: black;
  align-items: center;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}
